body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1em;
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-weight: normal;
  font-size: 1rem;
  text-align: left
}

ul,
li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  margin: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}